body {
    background-color: #000000;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Lobster', cursive;
}

h2 {
    font-size: 80px;
    color: #ffffff;
    text-shadow: 1px 1px 10px rgba(253,255,252,0.2);
}

header {
    width: 100%;
    background-color: #DF2935;
    padding: 15px 0;
    position: fixed;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    border-bottom: 3px solid rgba(255,255,255,0.8);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header.shrunk {
    padding: 5px 0px;
}

header .hamburger {
    width: 50px;
    height: 100%;
    padding: 15px;
    margin-left: 25px;
}

header .logo {
    margin-right: 25px;
}

header .logo h1 {
    margin: 0;
    font-family: Lobster,sans-serif;
    font-size: 25px;
    line-height: 30px;
    font-weight: 300;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

header .hamburger .line {
    background-color: #ffffff;
    width: 80%;
    height: 5px;
    margin: 5px auto;
    border-radius: 2px;
}

header img {
    height: 30px;
}

.section {
    width: 100%;
    min-height: 400px;
    background-color: #ffffff;
    position: relative;
}

.container {
    max-width: 1310px;
    margin: 0 auto;
}

.content {
    padding: 50px 25px;
}

.section.hero {
    background: #4edef5; /* Old browsers */
    background: -moz-linear-gradient(top,  #4edef5 0%, #82ebfc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #4edef5 0%,#82ebfc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #4edef5 0%,#82ebfc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4edef5', endColorstr='#82ebfc',GradientType=0 ); /* IE6-9 */
    height: 75vh;
    overflow: hidden;
}

.section.hero .container {
    padding-top: 150px;
    padding-bottom: 75px;
}

.section.hero h2 {
    text-shadow: 2px 5px 3px rgba(0,0,0,0.5);
     position: relative;
     z-index: 1;
}

.section.hero .clouds {
    animation: 15s loop infinite linear;
}

@keyframes loop {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(100%);
    }
}

.section.hero .clouds .cloud {
    position: absolute;
    height: 50px;
    z-index: 0;
}

.section.hero .clouds .cloud:nth-child(1) {
    top: 20%;
    left: 25%;
    width: 200px;
    height: 100px;
}

.section.hero .clouds .cloud:nth-child(2) {
    top: 20%;
    left: 5%;
    width: 275px;
    height: 125px;
}

.section.hero .clouds .cloud:nth-child(3) {
    top: 20%;
    left: 50%;
    width: 350px;
    height: 175px;
}

.section.hero .clouds .cloud:nth-child(4) {
    top: 20%;
    left: 70%;
    width: 100px;
    height: 50px;
}

.section.hero .clouds .cloud:nth-child(5) {
    top: 20%;
    right: 5%;
    width: 300px;
    height: 150px;
}

/*General Styles*/

.centered-text {
    text-align: center;
}

.compressed {
    max-width: 960px;
    margin: 0 auto;
}
